{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={% static "/favicon.ico" %} type="image/x-icon">

    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "createpoll.css"%}>
</head>

<body>

    <!-- nav bar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src={% static "voting-poll1.png"%} alt="" width="45" height="40" class="d-inline-block align-top">
            </a>
            <a class="navbar-brand" href="{% url 'home' %}" style="color:#f50057;">MakeUrChoice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color:white;">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#about" style="color:white;">About Us</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
                            Create a Poll
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                </ul>


                <button class="btn btn-outline-success" type="submit">log in</button>

            </div>
        </div>
    </nav>

    <!-- create poll page -->

    <div class="container">
        <h1> Create poll</h1>
        <div id="poll">
            <form id="craete-poll"   method="POST" >
            {% csrf_token %} 

                <label>Title</label>
                <div class="field">
                    {% comment %} <textarea name='Title' placeholder="Type your question here..." rows="2" class="input"
                        style="height: 50px;"></textarea>  {% endcomment %}
                    {% render_field form.Title class="input" placeholder="Type your question here..."  style="height:100px" %} 
                    {% comment %} <input placeholder="" required="required" class="input"> {% endcomment %}
                </div>


                {% comment %} <label>description</label>
                <div class="field">
                    
                </div> {% endcomment %}


                <label>Answere Option </label>
                <div class="field">
                    {% comment %} <input name="o1" placeholder="Type your option here..." required="required" class="input">
                    <input name="o2" placeholder="Type your option here..." required="required" class="input">
                    <input name="o3" placeholder="Type your option here..." required="required" class="input">
                    <input name="o4" placeholder="Type your option here..." required="required" class="input">  {% endcomment %}

                    <textarea name='o1' placeholder="Type your option here..." rows="2" class="input"
                        style="height: 50px;"></textarea> 
                    <textarea name='o2' placeholder="Type your option here..." rows="2" class="input"
                        style="height: 50px;"></textarea> 
                    <textarea name='o3' placeholder="Type your option here..." rows="2" class="input"
                        style="height: 50px;"></textarea> 
                    <textarea name='o4' placeholder="Type your option here..." rows="2" class="input"
                        style="height: 50px;"></textarea> 



                    {% comment %} {% render_field form.o1 class="input" placeholder="Type your option here..." style="height:50px" %}
                    {% render_field form.o2 class="input" placeholder="Type your option here..." %}
                    {% render_field form.o3 class="input" placeholder="Type your option here..." %}
                    {% render_field form.o4 class="input" placeholder="Type your option here..." %} {% endcomment %}


                    <!-- div for new options -->

                    {% comment %} <div id="newopt"></div>
                    <button onclick="createoption()">create option</button> {% endcomment %}


                </div>

                <!--radio buttons for type of polls -->

                <label>Type of Poll</label>
                <div class="field">

                   <input type="radio" id="open" name="polltype" value="open">
                    <label>Open poll</label><br>
                    <input type="radio" id="closed" name="polltype" value="closed">
                    <label>Closed poll</label><br>
                    <input type="radio" id="prefferance" name="polltype" value="preference">
                    <label>Prefferance poll</label><br><br> 

                    <button type="submit">Create Poll</button>

                </div>


            </form>
        </div>
    </div>


    <!--feature cards -->

  <div class="features">

        <div class="box">
            <image class="icon" src={% static "poll.png" %}></image>
            <div class="h"> Open Poll</div>
            <p class="description">Just create a poll and share link with your friends to vote</p>
        </div>

        <div class="box">
            <image class="icon" src={% static "ballot.png" %}></image>
            <div class="h">Closed Poll</div>
            <p class="description">Create a poll, and mention email id of all eligible voters , they will recieve a mail throug us and they could only be able to vote once</p>
        </div>

        <div class="box">
            <image class="icon" src={% static "polling.png" %}></image>
            <div class="h">Preferencial Voting System</div>
            <p class="description">Winner is decided on the basis of best preferance of all voters and not just by majority</p>
        </div>




    </div>

    <!--footer start here -->

    <div id="footer">



        <div class="aa"> batch2020@iiitkottayam.ac.in</div>


        <div class="aa">Copyright © 2021 IIIT KOTTAYAM</div><br>
        <div id="contact">
            <a class="cont" href="#" target="_blank">Instgram</span>
                <a class="cont" href="#" target="_blank">Facebook</a>
                <a class="cont" href="#" target="_blank">Discord</a>
                <a class="cont" href="#" target="_blank">Git-Hub</a>
        </div>
        <div><a href="https://www.iiitkottayam.ac.in/" target="_blank">www.iiitkottayam.ac.in</a></div>
    </div>
</body>


<!--script for adding new option -->

<script>
    function createoption() {
        var opt = document.createElement("input");
        opt.className = "input";
        opt.placeholder = "Type your Answere here...";

        document.getElementById('newopt').appendChild(opt);
    }
</script>

</html>