{% extends 'base.html' %}
{% block content %}


    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <center>
                <h3>{{poll.title}}</h3><br><br>
                <div style="width:500px">{{poll.o1}}: <input name="p" type="radio" value="{{poll.o1}}"></div><br>
                <div style="width:500px">{{poll.o2}}: <input name="p" type="radio" value="{{poll.o2}}"></div><br>
                <div style="width:500px">{{poll.o3}}: <input name="p" type="radio" value="{{poll.o3}}"></div><br>
                <div style="width:500px">{{poll.o4}}: <input name="p" type="radio" value="{{poll.o4}}"></div><br><br>
                <div>
                    <center><input class="btn btn-primary" type="submit" class="buttn">
                </div>
            </center>
        </form>
    </div>

{% endblock %}